body{
  margin: 0;
  padding: 0;
  background-color: #202020;
  font-family: 'Raleway', sans-serif;
}


/* navbar */

.nav-navbar{
  display: flex;
  justify-content: space-between;
  background-color: #0f4c81;
  align-items: center;
  padding: 0 18%;
}
.nav-input{
  height: 30px;
  width: 166px;
  border: none;
  background-color: white;
  border-radius: 8px;
  padding-left: 10px;
}
.nav-input:focus{
  outline: none;
}

.nav-title{
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 15px 0;
}
.nav-button{
  width: 100px;
  height: 30px;
  background-color: #f2d6ae;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 13px;
  padding: 0 10px;
  color: black;
  line-height: 28px;
  text-align: center;
}

/* Main */

.container{
  margin: 40px 15%;
}

/* Catalogue */

.review-list{
  display: flex;
  flex-basis: 25%;
  flex-wrap: wrap;
}

/* Review */

.review-card{
  width: 150px;
  height: 300px;
  margin: 25px 20px;
  border-radius: 20px;
  position: relative;
  border: 2px solid #555555;
  -webkit-box-shadow: 10px 10px 30px -1px rgba(14, 14, 14, 0.808);
  -moz-box-shadow: 10px 10px 30px -1px rgba(14, 14, 14, 0.808);
  box-shadow: 10px 10px 30px -1px rgba(14, 14, 14, 0.808);
}
.review-image{
  width: 150px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: -3px -3px 17px -1px rgba(84,84,84,1);
  -moz-box-shadow: -3px -3px 17px -1px rgba(84,84,84,1);
  box-shadow: -3px -3px 17px -1px rgba(84,84,84,1);
}

.review-content{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  bottom: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 150px;
  padding: 15px 0;
}
.review-title{
  font-size: 20px;
  margin-top: 0;
  color: white;
  text-align: center;
}
.review-creator{
  color: #c2c2c2;
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

/* create review */

.create-container{
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
.create-review{
  width: 500px;
  margin-bottom: 35px;
  justify-content: center;

}
.create-preview{
  width: 500px;
}

.create-form{
  display: flex;
  flex-direction: column;
}
.create-input{
  height: 30px;
  padding: 0 10px;
  margin: 8px 0;
  width: 400px;
  word-break: break-word;
  border-radius: 8px;
  border: none;
}

.create-input:focus{
  outline: none;
}

.create-button{
  margin: 8px 0;
  width: 130px;
  height: 30px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  background-color: #f5b898;
}

/* preview */

.preview{
  display: flex;
  flex-direction: column;
}

.create-preview{
  border: 2px solid #555555;
  border-radius: 8px;
  width: 400px;
  height: 600px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: -3px -3px 17px -1px rgba(84,84,84,1);
  -moz-box-shadow: -3px -3px 17px -1px rgba(84,84,84,1);
  box-shadow: -3px -3px 17px -1px rgba(84,84,84,1);
}

.preview-top{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview-back-shadow{
  -webkit-box-shadow: 10px 10px 30px -1px rgba(14, 14, 14, 0.808);
  -moz-box-shadow: 10px 10px 30px -1px rgba(14, 14, 14, 0.808);
  box-shadow: 10px 10px 30px -1px rgba(14, 14, 14, 0.808);
}
.preview-image{
  border-radius: 300px;
  max-width: 200px;
  max-height: 200px;
}

.preview-title{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.preview-user{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 8px;
  color: #949494;
  text-align: center;
}
.preview-text{
  margin-top: 0px;
  font-size: 8px;
  margin: 20px 15%; 
}
.preview-date{
  padding-right: 15px;
  text-align: right;
  font-size: 8px;
  margin: 0px 15%;
  color: #949494;
}
